body {
    background: #f7f2e1;
    margin-left: 100px;
}

.title,
.titlelist,
.normaltext,
.description,
button{
    color: #4f5564;
}

.title{
    font-size: 50px;
    padding: 5px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

.titlelist{
    font-size: 27px;
    margin: 5px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

.normaltext{
    font-family: 'Montserrat', sans-serif;

}

.description{
    max-width: 600px;
    text-align: justify;
    padding: 0px;
    margin: 1px;
    font-family: 'Montserrat', sans-serif;    
    font-size: 12px;
}

button{
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid;
    font-weight: 600;
    width: 100px;
    height: auto;
    font-size: 16px;
    border-radius: 12px;
    margin: 3px;
    padding: 5px;
    box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.9);
}

.image{
    display: flex;
}

img{
    flex: 1 5 auto;
    max-width: 750px;
    height: auto;
    border-radius: 30px;
    margin-top: 10px;
}